{% extends 'base.html.twig' %}

{% block title %}Profile index{% endblock %}

{% block body %}
    <h1>Profile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Wish</th>
                <th>Contract</th>
                <th>Replacements</th>
                <th>Availability</th>
                <th>StartJob</th>
                <th>DiplomeDate</th>
                <th>Diplomes</th>
                <th>Experience</th>
                <th>Qualities</th>
                <th>Likes</th>
                <th>Other</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.wish ? profile.wish|join(', ') : '' }}</td>
                <td>{{ profile.contract ? profile.contract|join(', ') : '' }}</td>
                <td>{{ profile.replacements ? 'Yes' : 'No' }}</td>
                <td>{{ profile.availability ? profile.availability|join(', ') : '' }}</td>
                <td>{{ profile.startJob ? profile.startJob|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profile.diplomeDate }}</td>
                <td>{{ profile.diplomes ? profile.diplomes|join(', ') : '' }}</td>
                <td>{{ profile.experience }}</td>
                <td>{{ profile.qualities ? profile.qualities|join(', ') : '' }}</td>
                <td>{{ profile.likes ? profile.likes|join(', ') : '' }}</td>
                <td>{{ profile.other }}</td>
                <td>{{ profile.createdAt ? profile.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ profile.updatedAt ? profile.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_profile_show', {'id': profile.id}) }}">show</a>
                    <a href="{{ path('app_profile_edit', {'id': profile.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profile_new') }}">Create new</a>
{% endblock %}
