{% extends 'base.html.twig' %}

{% block title %}Profil de {{ profile.user.firstName }}{% endblock %}

{% block body %}
	<div class="row justify-content-around col-11 col-md-6 mb-4 align-items-center mt-4 mx-auto">
		<h1 class="mt-4 text-center mb-4 job-business-name">{{ profile.user.firstName }} {{ profile.user.lastName }}</h1>
        <div class="align-items-center text-center mt-2 mb-2">
		{% if profile.imageName is null %}
			<img src="{{ asset('build/images/icon.svg') }}" width="200px" height="200px">
		{% else %}
			<img class="img-thumbnail" width="200px" height="200px" src="{{ asset('/images/avatars/' ~ profile.imageName ~ '') }}">
		{% endif %}
        </div>
		<div class="opportunity-block">
			<h4 class="opportunity-show"><span class="material-symbols-outlined">cake</span>
				<div class="opportunity-desc">
					<p>{{ date('now').diff((date(profile.age))).format('%y ans') }}</p>
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">phone</span>
				<div class="opportunity-desc">
					<p>{{ profile.phone }}</p>
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">email</span>
				<div class="opportunity-desc">	
					<p>{{ profile.user.email }}</p>
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">description</span>
				<div class="opportunity-desc">
				{% for wish in profile.wish %}
						<li class="list-inline-item badge badge-aquiform">{{ wish }}</li>
				{% endfor %}
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">search</span>
				<div class="opportunity-desc">
				{% for contract in profile.contract %}
						<li class="list-inline-item badge badge-aquiform">{{ contract }}</li>
				{% endfor %}
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">published_with_changes</span>
				<div class="opportunity-desc">
					{% if profile.replacements == 1 %}
						<li class="list-inline-item badge badge-aquiform">J'accepte les remplacements</li>
					{% else %}
						<li class="list-inline-item badge badge-aquiform">Je refuse les remplacements</li>
					{% endif %}
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">event_available</span>
				<div class="opportunity-desc">
				{% for availability in profile.availability %}
					<li class="list-inline-item badge badge-aquiform">{{ availability }}</li>
				{% endfor %}
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">schedule</span>
				<div class="opportunity-desc">
					<p>Disponible à partir du <li class="list-inline-item badge badge-aquiform">{{ profile.startJob|date("d/m/Y") }}</li></p>
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">school</span>
				<div class="opportunity-desc">
					<p>Année d'obtention de mon CAP AEPE <li class="list-inline-item badge badge-aquiform">{{ profile.diplomeDate }}</li></p>
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">science</span>
				<div class="opportunity-desc">
					{% if profile.replacements == 0 %}
						<li class="list-inline-item badge badge-aquiform">Experience moins de 3 mois</li>
					{% elseif profile.replacements == 1 %}
						<li class="list-inline-item badge badge-aquiform">Experience 1 à 2 ans</li>
					{% elseif profile.replacements == 2 %}
						<li class="list-inline-item badge badge-aquiform">Experience plus de 3 ans</li>
					{% endif %}
				<div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">share</span>
				<div class="opportunity-desc">
				{% for quality in profile.qualities %}
					<li class="list-inline-item badge badge-aquiform">{{ quality }}</li>
				{% endfor %}
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">favorite</span>
				<div class="opportunity-desc">
				{% for like in profile.likes %}
					<li class="list-inline-item badge badge-aquiform">{{ like }}</li>
				{% endfor %}
				</div>
			</h4>
			<h4 class="opportunity-show"><span class="material-symbols-outlined">description</span>
				<div class="opportunity-desc">
					<p>Description :<br> <textarea class="form-control" rows="5" disabled>{{ profile.other }}</textarea></p>
				</div>
			</h4>
		</div>
        <div class="row justify-content-between mx-auto col-12 align-items-center text-center">
            <div class="d-grid mb-2 d-md-block">
            	<a class="btn btn-primary" href="{{ backLink }}">Retour</a>
            </div>
        </div>
	</div>
{% endblock %}
