{% extends 'base.html.twig' %}

{% block title %}Inscription - Candidat
{% endblock %}

{% block body %}
	<div class="row justify-content-around col-11  col-md-6 mb-4 align-items-center mt-4 mx-auto">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1>Inscription</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="d-grid gap-2 mb-2">
			<button type="submit" class="btn btn-primary btn-lg mt-2">Inscription</button>
		</div>
		<span>J'ai déjà un compte !
			<a href="{{ path('app_login') }}">Se connecter</a>
		</span>
		{{ form_end(form) }}
	</div>
{% endblock %}
