{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.tags) }}
    {{ form_row(form.startJob) }}
    <div id="stopJob">
        {{ form_row(form.stopJob) }}
    </div>
    {{ form_row(form.pay_choice) }}
    {{ form_row(form.pay) }}
    {{ form_row(form.address) }}
    <div class="d-grid mb-2 d-md-block">
        <button class="btn btn-primary mb-2">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(form) }}
