
{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    {% if app.user %}
    <h1 class="page-h1 mt-4 mb-4">Salut {{ app.user.firstName }},<br>
    {% else %}
    <h1 class="page-h1 mt-4 mb-4">Bienvenue,<br>
    {% endif %}
    Trouvez votre emploi de rêve</h1>
    <div class="row justify-content-around mb-4 align-items-center">
        <div class="col-9">
            <form action="">
                <input type="text" class="form-control form-control-lg input-formaqui" placeholder="Recherche">
            </form>
        </div>
        <div class="col-auto">
            <img class="mx-auto d-block" height="54px" src="{{ asset('build/images/filter.svg') }}">
        </div>
    </div>
    <div class="row justify-content-between align-items-center">
        <h3 class="page-h3 col-auto mb-4">Emplois récents</h3>
        <a href="" class="col-auto text-end">Voir tout</a>
    </div>
    <div class="row justify-content-around">
        {% if is_granted('ROLE_BOSS') %}
        <div class="col-11 mb-2">
            <a href="{{ path('app_job_new') }}" class="btn btn-primary">Ajouter une annonce</a>
        </div>
        {% endif %}
        {% for job in jobs %}
        <a href="{{ path('app_job_show', {'id': job.id }) }}" class="no-color">
            <div class="col-11 col-md-3 card-formaqui mt-4 mb-4">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        {% if job.business.owner.imageName is null %}
                            <img src="{{ asset('build/images/icon.svg') }}" class="img-thumbnail" width="48px" height="48px">
                        {% else %}
                            <img src="{{ asset('/images/avatars/' ~ job.business.owner.imageName ~ '') }}" class="img-thumbnail" width="48px" height="48px">
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <span class="fw-bold">
                            {% for activite in job.business.activities %}
                                {{ activite }} 
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <h4 class="job-title mt-4 fw-bold">{{ job.title }}</h4>
                <span class="job-desc">{{ job.business.name }} • {{ job.business.city }}, {{ job.business.postcode }}</span>
                <div class="col-12 mt-2">
                    <ul class="list-inline">
                    {% set positions = {
                        id: job.id,
                        userLatitude: app.user.latitude,
                        userLongitude: app.user.longitude,
                        businessLatitude: job.business.latitude,
                        businessLongitude: job.business.longitude,
                    } %}
                    <li class="list-inline-item badge badge-aquiform" id="{{ job.id }}" data-entry-info='{{ positions|json_encode|raw }}'>
                        {{ job.business.address }}
                    </li>
                    {% for tag in job.tags %}
                        <li class="list-inline-item badge badge-aquiform">{{ tag }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </a>
        {% else %}
        <div class="col-11">
            <div class="alert alert-warning text-center" role="alert">
                Aucun résultat trouvé
            </div>
        </div>
        {% endfor %}
    </div>
    <script>

    /**
    * Grab data attribute objects with vanilla JavaScript (ES6)
    */
    document.addEventListener('DOMContentLoaded', () => {

        function distanceCalc(lat1, lon1, lat2, lon2, unit) {
            if ((lat1 == lat2) && (lon1 == lon2)) {
                return 0;
            }
            else {
                var radlat1 = Math.PI * lat1/180;
                var radlat2 = Math.PI * lat2/180;
                var theta = lon1-lon2;
                var radtheta = Math.PI * theta/180;
                var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                if (dist > 1) {
                    dist = 1;
                }
                dist = Math.acos(dist);
                dist = dist * 180/Math.PI;
                dist = dist * 60 * 1.1515;
                if (unit=="K") { dist = dist * 1.609344 }
                if (unit=="N") { dist = dist * 0.8684 }
                return dist;
            }
        }

        // Select elements by their data attribute
        const positions =
            document.querySelectorAll('[data-entry-info]');

        // Map over each element and extract the data value
        const infoPositions =
            Array.from(positions).map(
                item => JSON.parse(item.dataset.entryInfo)
            );

        infoPositions.map(infoPosition => {
            
            let distance = distanceCalc(infoPosition.userLatitude, infoPosition.userLongitude, infoPosition.businessLatitude, infoPosition.businessLongitude, 'K');
            let distanceRounded = Math.round(distance * 1) / 1;
            let distanceElement = document.getElementById(infoPosition.id);
            distanceElement.innerHTML = distanceRounded + ' km';
        })
    });
    </script>
{% endblock %}
